.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textField{
      /* display: flex; */
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      margin: 100px;
      padding: 50px;
      padding-left: 200px;
      min-height: 100px;
      background: linear-gradient(to right, rgb(175, 175, 240), rgb(245, 182, 245));
}

.counter{

   justify-content: center;
      align-items: center;
      border: 2px solid black;
      margin: 100px;
      padding: 50px;
      padding-left: 200px;
      min-height: 100px;
      background: linear-gradient(to right, rgb(235, 188, 136), rgb(221, 131, 221));
}
body{
  
  background: linear-gradient(to right , rgba(177, 177, 197, 0) , rgba(112, 108, 100, 0.753));
}
